<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Charming Healthy Camel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./navbar8.css" rel="stylesheet" />
      <header class="navbar8-container1">
        <header data-thq="thq-navbar" class="navbar8-navbar-interactive">
          <img
            alt="Company Logo"
            src="public/targit-1500h.png"
            class="navbar8-image1"
          />
          <div data-thq="thq-navbar-nav" class="navbar8-desktop-menu"></div>
          <div data-thq="thq-burger-menu" class="navbar8-burger-menu">
            <svg viewBox="0 0 1024 1024" class="navbar8-icon1">
              <path
                d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
              ></path>
            </svg>
          </div>
          <div data-thq="thq-mobile-menu" class="navbar8-mobile-menu"></div>
          <div class="navbar8-container2 thq-box-shadow">
            <div class="navbar8-link5-menu-list">
              <a href="https://www.teleporthq.io">
                <div class="navbar8-menu-item1">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1574154095846-ab1492fcf103?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="navbar8-page1-image thq-img-ratio-1-1"
                  />
                  <div class="navbar8-content1">
                    <span>
                      <fragment class="navbar8-fragment7">
                        <span class="navbar8-text7 thq-body-large">
                          Page One
                        </span>
                      </fragment>
                    </span>
                    <span>
                      <fragment class="navbar8-fragment8">
                        <span class="navbar8-text8 thq-body-small">
                          Page One Description
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </a>
              <a href="https://www.teleporthq.io">
                <div class="navbar8-menu-item2">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1525876683930-026136c901bc?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="navbar8-page2-image thq-img-ratio-1-1"
                  />
                  <div class="navbar8-content2">
                    <span>
                      <fragment class="navbar8-fragment3">
                        <span class="navbar8-text3 thq-body-large">
                          Page Two
                        </span>
                      </fragment>
                    </span>
                    <span>
                      <fragment class="navbar8-fragment4">
                        <span class="navbar8-text4 thq-body-small">
                          Page Two Description
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </a>
              <a href="https://www.teleporthq.io">
                <div class="navbar8-menu-item3">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1625597074704-daa16ce56ba0?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="navbar8-page3-image thq-img-ratio-1-1"
                  />
                  <div class="navbar8-content3">
                    <span>
                      <fragment class="navbar8-fragment1">
                        <span class="navbar8-text1 thq-body-large">
                          Page Three
                        </span>
                      </fragment>
                    </span>
                    <span>
                      <fragment class="navbar8-fragment5">
                        <span class="navbar8-text5 thq-body-small">
                          Page Three Description
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </a>
              <a href="https://www.teleporthq.io">
                <div class="navbar8-menu-item4">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1532003825146-df86988cc5b9?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="navbar8-page4-image thq-img-ratio-1-1"
                  />
                  <div class="navbar8-content4">
                    <span>
                      <fragment class="navbar8-fragment6">
                        <span class="navbar8-text6 thq-body-large">
                          Page Four
                        </span>
                      </fragment>
                    </span>
                    <span>
                      <fragment class="navbar8-fragment2">
                        <span class="navbar8-text2 thq-body-small">
                          Page Four Description
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </header>
        <div class="navbar8-container3"></div>
      </header>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
