<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Charming Healthy Camel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial17.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container10">
            <h2>
              <fragment class="testimonial17-fragment22">
                <h2 class="testimonial17-text36 thq-heading-2">Testimonials</h2>
              </fragment>
            </h2>
            <span>
              <fragment class="testimonial17-fragment20">
                <span class="testimonial17-text34 thq-body-small">
                  Read what our satisfied customers have to say about our
                  calculation tool.
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container12">
                    <img
                      alt="Image of John Doe, CEO of Company ABC"
                      src="https://images.unsplash.com/photo-1631913290783-490324506193?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1"
                    />
                    <div class="testimonial17-container13">
                      <strong>
                        <fragment class="testimonial17-fragment21">
                          <strong class="testimonial17-text35 thq-body-large">
                            John Doe
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment17">
                          <span class="testimonial17-text31 thq-body-small">
                            CEO, Company ABC
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment23">
                      <span class="testimonial17-text37 thq-body-small">
                        Using this calculation tool has greatly improved our
                        efficiency and accuracy in financial planning. Highly
                        recommended!
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container14">
                    <img
                      alt="Image of Jane Smith, Marketing Manager at Company XYZ"
                      src="https://images.unsplash.com/photo-1649779777797-66491227b1ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2"
                    />
                    <div class="testimonial17-container15">
                      <strong>
                        <fragment class="testimonial17-fragment19">
                          <strong class="testimonial17-text33 thq-body-large">
                            Jane Smith
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment13">
                          <span class="testimonial17-text27 thq-body-small">
                            Marketing Manager, Company XYZ
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment12">
                      <span class="testimonial17-text26 thq-body-small">
                        I love how easy it is to use this tool. It saves me so
                        much time in my daily tasks.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container16">
                    <img
                      alt="Image of David Johnson, CFO of Organization 123"
                      src="https://images.unsplash.com/photo-1535997018565-142937b9e38d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3"
                    />
                    <div class="testimonial17-container17">
                      <strong>
                        <fragment class="testimonial17-fragment15">
                          <strong class="testimonial17-text29 thq-body-large">
                            David Johnson
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment18">
                          <span class="testimonial17-text32 thq-body-small">
                            CFO, Organization 123
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment16">
                      <span class="testimonial17-text30 thq-body-small">
                        This tool has become an essential part of our financial
                        analysis process. It's simple yet powerful.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card4">
                  <div class="testimonial17-container18">
                    <img
                      alt="Image of Sarah Lee, Operations Manager at Business ABCD"
                      src="https://images.unsplash.com/photo-1517777557049-0f1f4537b849?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTk4NDIxOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image4"
                    />
                    <div class="testimonial17-container19">
                      <strong>
                        <fragment class="testimonial17-fragment11">
                          <strong class="testimonial17-text25 thq-body-large">
                            Sarah Lee
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment14">
                          <span class="testimonial17-text28 thq-body-small">
                            Operations Manager, Business ABCD
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment10">
                      <span class="testimonial17-text24 thq-body-small">
                        I can't imagine working without this tool now. It has
                        streamlined our operations and boosted productivity.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
